## Manupulation of 2otu.pdb file. Download the file here https://www.rcsb.org/structure/2otu

In [19]:
!pip install biopandas

Collecting biopandas
  Downloading biopandas-0.2.5-py2.py3-none-any.whl (263 kB)
     |████████████████████████████████| 263 kB 2.0 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /Users/apawar/opt/anaconda3/lib/python3.7/site-packages (from biopandas) (46.0.0.post20200309)
Requirement already satisfied: numpy>=1.16.2 in /Users/apawar/opt/anaconda3/lib/python3.7/site-packages (from biopandas) (1.18.1)
Requirement already satisfied: pandas>=0.24.2 in /Users/apawar/opt/anaconda3/lib/python3.7/site-packages (from biopandas) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /Users/apawar/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->biopandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/apawar/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->biopandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/apawar/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->biopandas) (1.14.0)
Installing collected packages: biopandas
Successfully installed biopandas-0.2.5

In [3]:
import pandas as pd

In [53]:
def aaMap(_aa):
    aa_df = pd.DataFrame([['Alanine','Ala','A'],
                        ['Arginine','Arg','R'],
                        ['Asparagine','Asn','N'],
                        ['Aspartate','Asp','D'],
                        ['Cysteine','Cys','C'],
                        ['Glutamate','Glu','E'],
                        ['Glutamine','Gln','Q'],
                        ['Glycine','Gly','G'],
                        ['Histidine','His','H'],
                        ['Histidine_D','HID','H'],
                        ['Histidine_E','HIE','H'],
                        ['Histidine_P','HIP','H'],
                        ['Isoleucine','Ile','I'],
                        ['Leucine','Leu','L'],
                        ['Lysine','Lys','K'],
                        ['Methionine','Met','M'],
                        ['Phenylalanine','Phe','F'],
                        ['Proline','Pro','P'],
                        ['Serine','Ser','S'],
                        ['Threonine','Thr','T'],
                        ['Tryptophan','Trp','W'],
                        ['Tyrosine','Tyr','Y'],
                        ['Valine','Val','V']],columns=['Full','3','1'])
    aa_df['3'] = aa_df['3'].str.upper()
    _aa = _aa.upper()
    if len(_aa)==1:
        toret = aa_df.loc[aa_df['1']==_aa,'3'].values
        if len(toret)>0:
            toret = toret[0]
        else:
            return None
    else:
        toret = aa_df.loc[aa_df['3']==_aa,'1'].values
        if len(toret)>0:
            toret = toret[0]
        else:
            return None
    return toret

In [54]:
from biopandas.pdb import PandasPdb
ppdb = PandasPdb().read_pdb('2otu.pdb')
atom_df = ppdb.df['ATOM'].copy(deep=True)
atom_df

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,MET,,A,0,,...,-3.806,2.541,-12.607,1.0,37.01,,,N,NaN,628
1,ATOM,2,,CA,,MET,,A,0,,...,-2.368,2.151,-12.564,1.0,37.01,,,C,NaN,629
2,ATOM,3,,C,,MET,,A,0,,...,-1.962,1.821,-11.132,1.0,36.44,,,C,NaN,630
3,ATOM,4,,O,,MET,,A,0,,...,-2.482,2.403,-10.180,1.0,35.78,,,O,NaN,631
4,ATOM,5,,CB,,MET,,A,0,,...,-1.496,3.292,-13.095,1.0,38.63,,,C,NaN,632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7635,ATOM,7647,,N,,GLY,,S,11,,...,48.683,-44.760,59.483,1.0,36.33,,,N,NaN,8274
7636,ATOM,7648,,CA,,GLY,,S,11,,...,50.017,-44.803,60.053,1.0,39.04,,,C,NaN,8275
7637,ATOM,7649,,C,,GLY,,S,11,,...,51.024,-43.930,59.342,1.0,40.28,,,C,NaN,8276
7638,ATOM,7650,,O,,GLY,,S,11,,...,52.229,-44.228,59.410,1.0,41.38,,,O,NaN,8277
7639,ATOM,7651,,OXT,,GLY,,S,11,,...,50.622,-42.932,58.730,1.0,41.07,,,O,NaN,8278

In [83]:
hetatm_df = ppdb.df['HETATM'].copy(deep=True)
tmp = atom_df.drop_duplicates(['chain_id','residue_number'])
tmp

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,MET,,A,0,,...,-3.806,2.541,-12.607,1.0,37.01,,,N,NaN,628
8,ATOM,9,,N,,GLN,,A,1,,...,-1.030,0.888,-10.982,1.0,35.67,,,N,NaN,636
17,ATOM,18,,N,,LEU,,A,2,,...,0.298,1.638,-7.711,1.0,29.89,,,N,NaN,645
25,ATOM,26,,N,,VAL,,A,3,,...,3.307,3.140,-7.768,1.0,25.41,,,N,NaN,653
32,ATOM,33,,N,,LEU,,A,4,,...,6.797,3.726,-7.086,1.0,23.60,,,N,NaN,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,ATOM,7611,,N,,GLN,,S,7,,...,50.237,-46.781,48.502,1.0,27.16,,,N,NaN,8238
7608,ATOM,7620,,N,,GLN,,S,8,,...,50.039,-47.189,51.992,1.0,27.26,,,N,NaN,8247
7617,ATOM,7629,,N,,GLN,,S,9,,...,47.209,-46.280,53.830,1.0,25.80,,,N,NaN,8256
7626,ATOM,7638,,N,,GLN,,S,10,,...,46.690,-45.769,56.677,1.0,29.18,,,N,NaN,8265
7635,ATOM,7647,,N,,GLY,,S,11,,...,48.683,-44.760,59.483,1.0,36.33,,,N,NaN,8274

### Surprisingly there was no 'L' in chain_id from the pdb data which I downloaded

In [81]:
tmp['chain_id'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'P', 'Q', 'R', 'S'],
      dtype=object)

In [82]:
''.join([aaMap(x) for x in tmp.loc[tmp.chain_id=='A','residue_name'].values])

'MQLVLTQSSSASFSLGASAKLTCTLSSQHSTYTIEWYQQQPLKPPKYVMELKKDGSHSTGDGIPDRFSGSSSGADRYLSISNIQPEDEAIYICGVGDTIKEQFVYVFGGGTKVTV'

## Playing around with Biopython and Molecular Structures

### Instead of downloading the file from the database, lets try to parse the required protein using the unique ID

In [84]:
from Bio.PDB import * ##importing all the attributes of Bio.PDB

In [86]:
pdbl = PDBList()
pdbl.retrieve_pdb_file('2otu')

WARNING: The default download format has changed from PDB to PDBx/mmCif

Downloading PDB structure '2otu'...

'/Users/apawar/Peritia Inc/ot/2otu.cif'

In [90]:
os.listdir('ot')

['2otu.cif']

In [92]:
parser = MMCIFParser()

In [93]:
structure = parser.get_structure('2otu', 'ot/2otu.cif') ## give the structure a name and path of file

/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain A is discontinuous at line 7640.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain B is discontinuous at line 7704.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain C is discontinuous at line 7823.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain D is discontinuous at line 7918.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain E is discontinuous at line 8046.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain F is discontinuous at line 8147.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain G is discontinuous at line 8261.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain H is discontinuous at line 8356.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain P is discontinuous at line 8504.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain Q is discontinuous at line 8515.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain R is discontinuous at line 8536.
  PDBConstructionWarning,
/Users/apawar/opt/anaconda3/lib/python3.7/site-packages/Bio/PDB/StructureBuilder.py:92: PDBConstructionWarning: WARNING: Chain S is discontinuous at line 8555.
  PDBConstructionWarning,

In [100]:
## Let's check the attribute in the file
def cleandir(obj):
    print(", ".join([a for a in dir(obj)]))
cleandir(structure)

__class__, __contains__, __delattr__, __delitem__, __dict__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __getitem__, __gt__, __hash__, __init__, __init_subclass__, __iter__, __le__, __len__, __lt__, __module__, __ne__, __new__, __reduce__, __reduce_ex__, __repr__, __setattr__, __sizeof__, __str__, __subclasshook__, __weakref__, _generate_full_id, _id, _reset_full_id, add, atom_to_internal_coordinates, child_dict, child_list, copy, detach_child, detach_parent, full_id, get_atoms, get_chains, get_full_id, get_id, get_iterator, get_level, get_list, get_models, get_parent, get_residues, has_id, header, id, insert, internal_to_atom_coordinates, level, parent, set_parent, transform, xtra

In [106]:
## Get rid of attributes starting with '_'
def cleandir(obj):
    print(", ".join([a for a in dir(obj) if not a.startswith("_")]))
cleandir(structure)

add, atom_to_internal_coordinates, child_dict, child_list, copy, detach_child, detach_parent, full_id, get_atoms, get_chains, get_full_id, get_id, get_iterator, get_level, get_list, get_models, get_parent, get_residues, has_id, header, id, insert, internal_to_atom_coordinates, level, parent, set_parent, transform, xtra

model in the structure contains several "chains" or strands of protein/RNA/DNA/.

Each "chain" is made up of residues, or amino acids/DNA bases/RNA bases.

Each residue is made up of Atoms.

In [111]:
## extract the chain_id from the model
model = structure[0] #since we have one model (the structure can have multiple models)
for chain in model:
    print(f"chain {chain}, Chain ID: {chain.id}")

chain <Chain id=A>, Chain ID: A
chain <Chain id=B>, Chain ID: B
chain <Chain id=C>, Chain ID: C
chain <Chain id=D>, Chain ID: D
chain <Chain id=E>, Chain ID: E
chain <Chain id=F>, Chain ID: F
chain <Chain id=G>, Chain ID: G
chain <Chain id=H>, Chain ID: H
chain <Chain id=P>, Chain ID: P
chain <Chain id=Q>, Chain ID: Q
chain <Chain id=R>, Chain ID: R
chain <Chain id=S>, Chain ID: S

In [143]:
## Let's access "A" chain
chain_A = model['A']
chain_A
len(chain_A)

179

In [157]:
for res in chain_A:
    print("Residue name: ",res.resname, "number:",res.id[1]) ##res.id is a tuple of 3 entries, get the middle one

Residue name:  MET number: 0
Residue name:  GLN number: 1
Residue name:  LEU number: 2
Residue name:  VAL number: 3
Residue name:  LEU number: 4
Residue name:  THR number: 5
Residue name:  GLN number: 6
Residue name:  SER number: 7
Residue name:  SER number: 8
Residue name:  SER number: 9
Residue name:  ALA number: 10
Residue name:  SER number: 11
Residue name:  PHE number: 12
Residue name:  SER number: 13
Residue name:  LEU number: 14
Residue name:  GLY number: 15
Residue name:  ALA number: 16
Residue name:  SER number: 17
Residue name:  ALA number: 18
Residue name:  LYS number: 19
Residue name:  LEU number: 20
Residue name:  THR number: 21
Residue name:  CYS number: 22
Residue name:  THR number: 23
Residue name:  LEU number: 24
Residue name:  SER number: 25
Residue name:  SER number: 26
Residue name:  GLN number: 27
Residue name:  HIS number: 28
Residue name:  SER number: 29
Residue name:  THR number: 30
Residue name:  TYR number: 31
Residue name:  THR number: 32
Residue name:  ILE number: 33
Residue name:  GLU number: 34
Residue name:  TRP number: 35
Residue name:  TYR number: 36
Residue name:  GLN number: 37
Residue name:  GLN number: 38
Residue name:  GLN number: 39
Residue name:  PRO number: 40
Residue name:  LEU number: 41
Residue name:  LYS number: 42
Residue name:  PRO number: 43
Residue name:  PRO number: 44
Residue name:  LYS number: 45
Residue name:  TYR number: 46
Residue name:  VAL number: 47
Residue name:  MET number: 48
Residue name:  GLU number: 49
Residue name:  LEU number: 50
Residue name:  LYS number: 51
Residue name:  LYS number: 52
Residue name:  ASP number: 53
Residue name:  GLY number: 54
Residue name:  SER number: 55
Residue name:  HIS number: 56
Residue name:  SER number: 57
Residue name:  THR number: 58
Residue name:  GLY number: 59
Residue name:  ASP number: 60
Residue name:  GLY number: 61
Residue name:  ILE number: 62
Residue name:  PRO number: 63
Residue name:  ASP number: 64
Residue name:  ARG number: 65
Residue name:  PHE number: 66
Residue name:  SER number: 67
Residue name:  GLY number: 68
Residue name:  SER number: 69
Residue name:  SER number: 70
Residue name:  SER number: 71
Residue name:  GLY number: 72
Residue name:  ALA number: 73
Residue name:  ASP number: 74
Residue name:  ARG number: 75
Residue name:  TYR number: 76
Residue name:  LEU number: 77
Residue name:  SER number: 78
Residue name:  ILE number: 79
Residue name:  SER number: 80
Residue name:  ASN number: 81
Residue name:  ILE number: 82
Residue name:  GLN number: 83
Residue name:  PRO number: 84
Residue name:  GLU number: 85
Residue name:  ASP number: 86
Residue name:  GLU number: 87
Residue name:  ALA number: 88
Residue name:  ILE number: 89
Residue name:  TYR number: 90
Residue name:  ILE number: 91
Residue name:  CYS number: 92
Residue name:  GLY number: 93
Residue name:  VAL number: 94
Residue name:  GLY number: 95
Residue name:  ASP number: 96
Residue name:  THR number: 97
Residue name:  ILE number: 98
Residue name:  LYS number: 99
Residue name:  GLU number: 100
Residue name:  GLN number: 101
Residue name:  PHE number: 102
Residue name:  VAL number: 103
Residue name:  TYR number: 104
Residue name:  VAL number: 105
Residue name:  PHE number: 106
Residue name:  GLY number: 107
Residue name:  GLY number: 108
Residue name:  GLY number: 109
Residue name:  THR number: 110
Residue name:  LYS number: 111
Residue name:  VAL number: 112
Residue name:  THR number: 113
Residue name:  VAL number: 114
Residue name:  HOH number: 115
Residue name:  HOH number: 116
Residue name:  HOH number: 117
Residue name:  HOH number: 118
Residue name:  HOH number: 119
Residue name:  HOH number: 120
Residue name:  HOH number: 121
Residue name:  HOH number: 122
Residue name:  HOH number: 123
Residue name:  HOH number: 124
Residue name:  HOH number: 125
Residue name:  HOH number: 126
Residue name:  HOH number: 127
Residue name:  HOH number: 128
Residue name:  HOH number: 129
Residue name:  HOH number: 130
Residue name:  HOH number: 131
Residue name:  HOH number: 132
Residue name:  HOH number: 133
Residue name:  HOH number: 134
Residue name:  HOH number: 135
Residue name:  HOH number: 136
Residue name:  HOH number: 137
Residue name:  HOH number: 138
Residue name:  HOH number: 139
Residue name:  HOH number: 140
Residue name:  HOH number: 141
Residue name:  HOH number: 142
Residue name:  HOH number: 143
Residue name:  HOH number: 144
Residue name:  HOH number: 145
Residue name:  HOH number: 146
Residue name:  HOH number: 147
Residue name:  HOH number: 148
Residue name:  HOH number: 149
Residue name:  HOH number: 150
Residue name:  HOH number: 151
Residue name:  HOH number: 152
Residue name:  HOH number: 153
Residue name:  HOH number: 154
Residue name:  HOH number: 155
Residue name:  HOH number: 156
Residue name:  HOH number: 157
Residue name:  HOH number: 158
Residue name:  HOH number: 159
Residue name:  HOH number: 160
Residue name:  HOH number: 161
Residue name:  HOH number: 162
Residue name:  HOH number: 163
Residue name:  HOH number: 164
Residue name:  HOH number: 165
Residue name:  HOH number: 166
Residue name:  HOH number: 167
Residue name:  HOH number: 168
Residue name:  HOH number: 169
Residue name:  HOH number: 170
Residue name:  HOH number: 171
Residue name:  HOH number: 172
Residue name:  HOH number: 173
Residue name:  HOH number: 174
Residue name:  HOH number: 175
Residue name:  HOH number: 176
Residue name:  HOH number: 177
Residue name:  HOH number: 178

In [130]:
## Select any residue and retrive the atoms in the residue

In [133]:
res = chain_A[1]
for atom in res:
    print(atom)

<Atom N>
<Atom CA>
<Atom C>
<Atom O>
<Atom CB>
<Atom CG>
<Atom CD>
<Atom OE1>
<Atom NE2>

In [137]:
## To get every atom from every residue from every chain
all_atoms = []
for chain in model:
        for residue in chain:
            for atom in residue:
                all_atoms.append(atom)

In [140]:
all_atoms[1:10]

[<Atom CA>,
 <Atom C>,
 <Atom O>,
 <Atom CB>,
 <Atom CG>,
 <Atom SD>,
 <Atom CE>,
 <Atom N>,
 <Atom CA>]