In [92]:
import numpy as np
import pandas as pd
from biopandas.pdb import PandasPdb

In [93]:
ppdb = PandasPdb().read_pdb('4ydl.pdb')
atom_df = ppdb.df['ATOM'].copy(deep=True)
atom_df.head()

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,VAL,,G,44,,...,-40.184,69.736,-48.615,1.0,92.10,,,N,NaN,5
1,ATOM,2,,CA,,VAL,,G,44,,...,-39.749,70.530,-49.757,1.0,87.67,,,C,NaN,6
2,ATOM,3,,C,,VAL,,G,44,,...,-38.516,69.888,-50.392,1.0,83.22,,,C,NaN,7
3,ATOM,4,,O,,VAL,,G,44,,...,-37.727,69.228,-49.712,1.0,84.92,,,O,NaN,8
4,ATOM,5,,CB,,VAL,,G,44,,...,-39.448,71.996,-49.341,1.0,88.67,,,C,NaN,9

In [94]:
Heavy_chain = atom_df[atom_df['chain_id'] == 'B'] ## Heavy chain
# Heavy_chain.drop_duplicates(['chain_id','residue_number'])
Heavy_chain

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
8704,ATOM,9945,,N,,VAL,,B,2,,...,-23.700,15.707,-43.752,1.0,34.70,,,N,NaN,9949
8705,ATOM,9946,,CA,,VAL,,B,2,,...,-23.190,16.399,-44.923,1.0,35.56,,,C,NaN,9950
8706,ATOM,9947,,C,,VAL,,B,2,,...,-23.807,15.785,-46.179,1.0,38.16,,,C,NaN,9951
8707,ATOM,9948,,O,,VAL,,B,2,,...,-23.797,14.566,-46.365,1.0,41.43,,,O,NaN,9952
8708,ATOM,9949,,CB,,VAL,,B,2,,...,-21.654,16.336,-44.977,1.0,41.40,,,C,NaN,9953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10393,ATOM,11634,,CA,,CYS,,B,216,,...,-40.317,-21.355,-92.076,1.0,75.18,,,C,NaN,11638
10394,ATOM,11635,,C,,CYS,,B,216,,...,-40.323,-20.707,-93.460,1.0,75.41,,,C,NaN,11639
10395,ATOM,11636,,O,,CYS,,B,216,,...,-41.175,-21.008,-94.295,1.0,76.59,,,O,NaN,11640
10396,ATOM,11637,,CB,,CYS,,B,216,,...,-40.798,-22.807,-92.182,1.0,80.88,,,C,NaN,11641
10397,ATOM,11638,,SG,,CYS,,B,216,,...,-39.956,-23.967,-91.076,1.0,165.37,,,S,NaN,11642

In [95]:
Light_chain = atom_df[atom_df['chain_id'] == 'C'] ## Light chain
# Light_chain.drop_duplicates(['chain_id','residue_number']).head()
Light_chain

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
10398,ATOM,11902,,N,,GLU,,C,1,,...,4.705,15.307,-58.335,1.0,77.86,,,N,NaN,11906
10399,ATOM,11903,,CA,,GLU,,C,1,,...,3.416,14.711,-58.006,1.0,72.62,,,C,NaN,11907
10400,ATOM,11904,,C,,GLU,,C,1,,...,3.587,13.407,-57.237,1.0,69.31,,,C,NaN,11908
10401,ATOM,11905,,O,,GLU,,C,1,,...,4.687,12.857,-57.151,1.0,72.63,,,O,NaN,11909
10402,ATOM,11906,,CB,,GLU,,C,1,,...,2.597,14.451,-59.269,1.0,74.44,,,C,NaN,11910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12029,ATOM,13533,,CA,,CYS,,C,214,,...,-35.504,-22.259,-91.773,1.0,103.54,,,C,NaN,13537
12030,ATOM,13534,,C,,CYS,,C,214,,...,-34.968,-22.954,-90.518,1.0,104.54,,,C,NaN,13538
12031,ATOM,13535,,O,,CYS,,C,214,,...,-33.869,-23.514,-90.519,1.0,104.60,,,O,NaN,13539
12032,ATOM,13536,,CB,,CYS,,C,214,,...,-36.724,-23.016,-92.306,1.0,107.64,,,C,NaN,13540
12033,ATOM,13537,,SG,,CYS,,C,214,,...,-38.067,-23.217,-91.105,1.0,194.72,,,S,NaN,13541

In [96]:
Antigen_chain = atom_df[atom_df['chain_id'] == 'A'] ## Antigen chain
Antigen_chain

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
2689,ATOM,3051,,N,,VAL,,A,44,,...,7.375,23.552,-14.838,1.0,76.65,,,N,NaN,3055
2690,ATOM,3052,,CA,,VAL,,A,44,,...,6.699,22.582,-15.690,1.0,72.92,,,C,NaN,3056
2691,ATOM,3053,,C,,VAL,,A,44,,...,5.459,23.206,-16.319,1.0,72.54,,,C,NaN,3057
2692,ATOM,3054,,O,,VAL,,A,44,,...,4.615,23.774,-15.622,1.0,73.28,,,O,NaN,3058
2693,ATOM,3055,,CB,,VAL,,A,44,,...,6.299,21.315,-14.901,1.0,76.12,,,C,NaN,3059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5369,ATOM,5731,,CB,,GLU,,A,492,,...,1.895,22.012,-14.032,1.0,97.34,,,C,NaN,5735
5370,ATOM,5732,,CG,,GLU,,A,492,,...,1.315,21.641,-15.383,1.0,97.21,,,C,NaN,5736
5371,ATOM,5733,,CD,,GLU,,A,492,,...,1.656,20.226,-15.794,1.0,100.25,,,C,NaN,5737
5372,ATOM,5734,,OE1,,GLU,,A,492,,...,2.310,19.517,-14.999,1.0,105.04,,,O,NaN,5738
5373,ATOM,5735,,OE2,,GLU,,A,492,,...,1.270,19.825,-16.911,1.0,98.66,,,O,NaN,5739

In [157]:
A_coord = Antigen_chain[['x_coord','y_coord','z_coord']].to_numpy()
H_coord = Heavy_chain[['x_coord','y_coord','z_coord']].to_numpy()
L_coord = Light_chain[['x_coord','y_coord','z_coord']].to_numpy()

In [158]:
## Looping every residue from heavy chain overy every residue from antigen chain to calculate distance 

distance = []
for a in range(len(A_coord)):
    dep=[]
    for h in range(len(H_coord)):
        dist = np.sqrt((A_coord[a][0]-H_coord[h][0])**2 +
                       (A_coord[a][1]-H_coord[h][1])**2+
                       (A_coord[a][2]-H_coord[h][2])**2)
        dep.append(dist)
    distance.append(dep)

In [159]:
dist_matrix = np.array(distance)
dist_matrix.shape

(2685, 1694)

In [160]:
row_names = 'Antigen_' + Antigen_chain['residue_name'].to_numpy()
column_names = 'H_' + Heavy_chain['residue_name'].to_numpy()

In [161]:
df_heavy = pd.DataFrame(dist_matrix, columns=column_names, index=row_names)

In [162]:
df_heavy

,H_VAL,H_VAL,H_VAL,H_VAL,H_VAL,H_VAL,H_VAL,H_ARG,H_ARG,H_ARG,...,H_SER,H_SER,H_SER,H_SER,H_CYS,H_CYS,H_CYS,H_CYS,H_CYS,H_CYS
Antigen_VAL,43.165021,43.479787,44.887656,45.237081,42.463076,42.953055,41.087698,45.744124,47.102486,47.570857,...,99.745754,99.415920,100.043626,99.642746,100.611407,101.276227,102.055755,103.228441,102.234481,101.540689
Antigen_VAL,41.938534,42.262869,43.662276,43.991112,41.238738,41.738522,39.874659,44.535744,45.887928,46.372042,...,98.353081,98.026937,98.655834,98.255594,99.214562,99.878853,100.663692,101.836899,100.832298,100.132649
Antigen_VAL,40.731459,41.052275,42.463980,42.817348,40.044883,40.546465,38.665271,43.320642,44.682475,45.159045,...,97.546405,97.221683,97.818072,97.404535,98.418691,99.097164,99.875307,101.043873,100.060487,99.380195
Antigen_VAL,40.719929,41.061627,42.489581,42.862117,40.088655,40.615140,38.690987,43.336913,44.712434,45.200230,...,97.932343,97.616595,98.175496,97.745706,98.808688,99.502389,100.283286,101.447487,100.466729,99.795206
Antigen_VAL,41.997260,42.368487,43.763745,44.060203,41.360929,41.906589,40.006417,44.668775,46.019700,46.550466,...,98.234522,97.924303,98.544221,98.139155,99.081885,99.748489,100.553348,101.727205,100.683818,99.963069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Antigen_GLU,39.725753,40.187273,41.626890,41.963611,39.298415,39.949590,37.897460,42.520612,43.910107,44.504579,...,97.177064,96.904745,97.383415,96.917864,98.035520,98.759382,99.579514,100.736758,99.693819,99.001781
Antigen_GLU,38.285281,38.737387,40.172145,40.503734,37.835470,38.479096,36.439705,41.069261,42.454590,43.045693,...,95.696268,95.420628,95.901573,95.437649,96.557908,97.281528,98.097370,99.254426,98.220242,97.533663
Antigen_GLU,38.013127,38.476854,39.891541,40.180553,37.551773,38.202850,36.181902,40.820409,42.190424,42.803167,...,94.925725,94.652172,95.160971,94.708612,95.774917,96.486558,97.312664,98.474079,97.413078,96.705529
Antigen_GLU,38.958583,39.438784,40.843823,41.108561,38.510681,39.173987,37.154082,41.790905,43.153911,43.784670,...,95.558362,95.289492,95.814240,95.368023,96.396194,97.100183,97.937079,99.101344,98.014469,97.288144
Antigen_GLU,36.890352,37.345699,38.752979,39.032675,36.405813,37.049416,35.044367,39.687681,41.051563,41.662456,...,93.702627,93.426007,93.940789,93.491494,94.553307,95.263047,96.086264,97.248112,96.192138,95.487013

### Light Chain distance

In [149]:
## Looping every residue from heavy chain overy every residue from antigen chain to calculate distance 

distance_L = []
for a in range(len(A_coord)):
#     print('A',A_coord[a])
    dep=[]
    for h in range(len(L_coord)):
#         print('L',L_coord[h])
        dist = np.sqrt((A_coord[a][0]-L_coord[h][0])**2 +
                       (A_coord[a][1]-L_coord[h][1])**2+
                       (A_coord[a][2]-L_coord[h][2])**2)
#         print('D',dist)
        dep.append(dist)
    distance_L.append(dep)

In [150]:
L_dist_matrix = np.array(distance_L)
L_dist_matrix

array([[ 44.35197779,  44.24153236,  43.76008649, ...,  98.20330775,
        100.57132518, 100.3442575 ],
       [ 43.30701659,  43.16682275,  42.66167341, ...,  96.79867293,
         99.17028783,  98.93920043],
       [ 42.7587064 ,  42.59277924,  42.11659422, ...,  96.09937557,
         98.43730463,  98.19650402],
       ...,
       [ 42.93285039,  42.60710937,  42.04461643, ...,  93.58973688,
         95.90089211,  95.58743484],
       [ 43.60583701,  43.28883137,  42.69673844, ...,  94.14806106,
         96.48358147,  96.16974639],
       [ 41.81099526,  41.46754559,  40.89921135, ...,  92.36425665,
         94.67471332,  94.36505163]])

In [151]:
row_names = 'Antigen_' + Antigen_chain['residue_name'].to_numpy()
column_names = 'L_' + Light_chain['residue_name'].to_numpy()
df_light = pd.DataFrame(L_dist_matrix, columns=column_names, index=row_names)

In [152]:
df_light

,L_GLU,L_GLU,L_GLU,L_GLU,L_GLU,L_GLU,L_GLU,L_GLU,L_GLU,L_ILE,...,L_GLU,L_GLU,L_GLU,L_GLU,L_CYS,L_CYS,L_CYS,L_CYS,L_CYS,L_CYS
Antigen_VAL,44.351978,44.241532,43.760086,43.726403,45.604509,46.628670,47.630332,48.841755,47.232860,43.454495,...,99.566203,99.392198,100.352530,98.306352,99.604434,99.278651,98.403252,98.203308,100.571325,100.344258
Antigen_VAL,43.307017,43.166823,42.661673,42.633769,44.520431,45.537000,46.516930,47.734158,46.097202,42.330329,...,98.171120,97.996183,98.957825,96.908490,98.209221,97.879678,96.999463,96.798673,99.170288,98.939200
Antigen_VAL,42.758706,42.592779,42.116594,42.130156,43.926570,44.975179,45.937837,47.155567,45.504898,41.763921,...,97.493181,97.339083,98.309457,96.259132,97.488498,97.151118,96.283849,96.099376,98.437305,98.196504
Antigen_VAL,43.544214,43.358725,42.899181,42.940004,44.677190,45.745864,46.693296,47.911580,46.247745,42.528695,...,98.003462,97.865244,98.844449,96.788853,97.960417,97.609149,96.745701,96.575016,98.887071,98.628548
Antigen_VAL,43.876523,43.703152,43.153543,43.118428,45.048182,46.041811,46.994017,48.218774,46.544513,42.790883,...,98.056382,97.875197,98.839637,96.779790,98.096268,97.752180,96.853706,96.649829,99.034086,98.785073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Antigen_GLU,44.895534,44.601914,44.086063,44.168512,45.869900,46.930411,47.789322,49.022237,47.259189,43.616929,...,97.476360,97.356844,98.356857,96.274367,97.366505,96.965302,96.077730,95.926751,98.212866,97.892141
Antigen_GLU,43.548662,43.233774,42.716719,42.814657,44.489556,45.554364,46.397426,47.631316,45.854819,42.230552,...,96.004091,95.888595,96.889530,94.808572,95.888949,95.489690,94.606756,94.457961,96.738623,96.420970
Antigen_GLU,42.932850,42.607109,42.044616,42.117580,43.866978,44.899073,45.732190,46.970717,45.177098,41.548234,...,95.127795,94.994938,95.990284,93.906991,95.046587,94.650141,93.752365,93.589737,95.900892,95.587435
Antigen_GLU,43.605837,43.288831,42.696738,42.741044,44.559843,45.566008,46.403650,47.643990,45.849519,42.206389,...,95.684767,95.537160,96.528080,94.441963,95.629977,95.233292,94.321548,94.148061,96.483581,96.169746
Antigen_GLU,41.810995,41.467546,40.899211,40.981539,42.718157,43.749795,44.569507,45.809114,44.003602,40.388574,...,93.896990,93.765250,94.760482,92.678485,93.816095,93.422209,92.526893,92.364257,94.674713,94.365052

In [153]:
Antigen_chain[Antigen_chain['residue_name'] == 'VAL']

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
2689,ATOM,3051,,N,,VAL,,A,44,,...,7.375,23.552,-14.838,1.0,76.65,,,N,NaN,3055
2690,ATOM,3052,,CA,,VAL,,A,44,,...,6.699,22.582,-15.690,1.0,72.92,,,C,NaN,3056
2691,ATOM,3053,,C,,VAL,,A,44,,...,5.459,23.206,-16.319,1.0,72.54,,,C,NaN,3057
2692,ATOM,3054,,O,,VAL,,A,44,,...,4.615,23.774,-15.622,1.0,73.28,,,O,NaN,3058
2693,ATOM,3055,,CB,,VAL,,A,44,,...,6.299,21.315,-14.901,1.0,76.12,,,C,NaN,3059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5343,ATOM,5705,,C,,VAL,,A,489,,...,0.667,27.455,-20.817,1.0,47.19,,,C,NaN,5709
5344,ATOM,5706,,O,,VAL,,A,489,,...,0.614,28.596,-20.369,1.0,46.51,,,O,NaN,5710
5345,ATOM,5707,,CB,,VAL,,A,489,,...,2.655,26.702,-22.138,1.0,46.22,,,C,NaN,5711
5346,ATOM,5708,,CG1,,VAL,,A,489,,...,3.202,26.445,-23.526,1.0,45.81,,,C,NaN,5712
5347,ATOM,5709,,CG2,,VAL,,A,489,,...,3.528,27.692,-21.382,1.0,47.17,,,C,NaN,5713

In [154]:
Light_chain[Light_chain['residue_name']=='GLU']

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
10398,ATOM,11902,,N,,GLU,,C,1,,...,4.705,15.307,-58.335,1.0,77.86,,,N,NaN,11906
10399,ATOM,11903,,CA,,GLU,,C,1,,...,3.416,14.711,-58.006,1.0,72.62,,,C,NaN,11907
10400,ATOM,11904,,C,,GLU,,C,1,,...,3.587,13.407,-57.237,1.0,69.31,,,C,NaN,11908
10401,ATOM,11905,,O,,GLU,,C,1,,...,4.687,12.857,-57.151,1.0,72.63,,,O,NaN,11909
10402,ATOM,11906,,CB,,GLU,,C,1,,...,2.597,14.451,-59.269,1.0,74.44,,,C,NaN,11910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12023,ATOM,13527,,CB,,GLU,,C,213,,...,-31.252,-22.112,-93.599,1.0,79.56,,,C,NaN,13531
12024,ATOM,13528,,CG,,GLU,,C,213,,...,-31.524,-23.593,-93.436,1.0,81.73,,,C,NaN,13532
12025,ATOM,13529,,CD,,GLU,,C,213,,...,-30.248,-24.406,-93.345,1.0,82.16,,,C,NaN,13533
12026,ATOM,13530,,OE1,,GLU,,C,213,,...,-29.866,-25.031,-94.358,1.0,82.44,,,O,NaN,13534
12027,ATOM,13531,,OE2,,GLU,,C,213,,...,-29.624,-24.414,-92.262,1.0,79.55,,,O,NaN,13535

In [156]:
np.sqrt((7.375-4.705)**2 +(23.552-15.307)**2+(-14.838+58.335)**2)

44.35197779130036